/Hw/Ch12_File/Ch12_File_ArrayFileFunction_CIS17A/build/
/Hw/Ch12_File/Ch12_File_ArrayFileFunction_CIS17A/dist/
/Hw/Ch12_File/Ch12_File_SentenceFilter_CIS17A/build/
/Hw/Ch12_File/Ch12_File_SentenceFilter_CIS17A/dist/